.custom-button {
    justify-content: flex-end;
    padding: 0.5rem
}

ion-icon[name="add-circle"] {
    padding-right: 0.3125rem;;
}

.new-image {
    padding: 1.25rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 25%;
    color: var(--ion-color-secondary);
}

