.custom-button {
    justify-content: flex-end;
    padding: 0.5rem
}

ion-icon[name="add-circle"] {
    padding-right: 0.3125rem;;
}

.invalid {
    font-size: 0.75rem;
    padding: 0 1.25rem;
    color: var(--ion-color-danger);
}