<ion-header>
  <ion-toolbar>
    <ion-title>{{ newDayDate ? newDayDate : 'No Day Selected'}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onModalClose()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item lines="none">
      <ion-label class="title">Activity</ion-label>
    </ion-item>
    <ion-row>
      <ion-col size-md='6'>
        <ion-item>
          <ion-label position="floating">Start Time
          </ion-label>
          <ion-datetime [(ngModel)]="startTime" displayFormat="HH:mm" placeholder="Now"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
  <ion-col size-md='6'>
    <ion-item>
      <ion-label position="floating">Category
      </ion-label>
      <ion-select [(ngModel)]="category" interface="popover">
        <ion-select-option value="travel">Travel</ion-select-option>
        <ion-select-option value="working">Working</ion-select-option>
        <ion-select-option value="weather">Weather Downtime</ion-select-option>
        <ion-select-option value="travel">Travel</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col size-md='6'>
    <ion-button expand="block" (click)="onSaveActivity()">Save Activity</ion-button>
  </ion-col>
</ion-row>
</ion-content>
