<ion-header>
  <ion-toolbar>
    <ion-title>New Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md='6'>
        <ion-item>
          <ion-label position="floating">Project Name
          </ion-label>
          <ion-input type="email" [(ngModel)]="name">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md='6'>
        <ion-button (click)="onAddDay()" color="light">Add day</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
