<ion-header>
  <ion-toolbar>
    <ion-title>New Project</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/main/projects-summary">Back</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md='6'>
        <ion-item>
          <ion-label position="floating">Project Name
          </ion-label>
          <ion-input type="email" [(ngModel)]="projectName">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md='6'>
        <ion-button (click)="onNext()" color="light">Next</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
