<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onClose()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="avatar-container">
      <ion-avatar>
        <img src={{userImage}}>
      </ion-avatar>
      <ion-icon (click)="onUploadImageClick()" color="light" name="camera"></ion-icon>
    </div>
    <ion-item>
      <ion-label position="floating">Email address</ion-label>
      <ion-input [(ngModel)]="userEmail" value={{userEmail}}></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input [(ngModel)]="userName" value={{userName}}></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input [(ngModel)]="userSurname" value={{userSurname}}></ion-input>
    </ion-item>
      <ion-button (click)="onSaveChanges()" class="save-button" expand="block">Save Changes</ion-button>
  </ion-grid>

</ion-content>
