<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label class="tab">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="projects-summary">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label class="tab">Projects</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog-outline"></ion-icon>
      <ion-label class="tab">Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>