<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md='6'>
        <ion-button expand="block" (click)="onStartProject()">Create New Project</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md='6'>
        <ion-card (click)="onShowLatestProject()">
          <ion-item lines="none">
            <ion-icon name="layers"></ion-icon>
            <ion-label class="title">Latest Project</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-item lines="none">
              <div>Date</div>
              <ion-label>Activity</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-md='6'>
        <ion-card>
          <ion-item lines="none">
            <ion-icon name="layers"></ion-icon>
            <ion-label class="title">Recent Projects</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
